.signin{
	display: flex;
	flex-direction: column;
	width: 40vw;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-top: 5vw;
	.submit-form{
		display: flex;
		flex-direction: column;
		width:95%;
		.buttons{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}