.scene{
	height: 700px;
	width: 100%;
	perspective: 600px;
	.card{
		width: 100%;
	  	height: 400px;
	  	position: relative;
	  	transition: transform 0.5s;
	  	transform-style: preserve-3d;
	  	transform-origin: center right;
		.dyes-menu-item{
			display: flex;
			margin-top: 128px;
			margin-bottom: 160px;
			position: absolute;
			//backface-visibility: hidden;
			height: 100%;
			width: 100%;
			transform-style: preserve-3d;
		}
		.dyes-menu-item.front{
					flex-wrap: wrap;
					justify-content: center;
					align-items: flex-start;
					transform-style: preserve-3d;
					position: static;
					.titles-button-image{
						display:flex;
						flex-direction: row;
						justify-content: space-around;
						transform-style: preserve-3d;
						height: 100%;
						.titles-and-button{
							display: flex;
							flex-direction: column;
							align-items:baseline;
							margin-right: 100px;
							height: 100%;
							.title{
								font-weight: 600;
								font-size: 60px;
							}
							.subtitle{
								padding-bottom: 20px;
								font-size: 26px;
							}
						}
						.image{
							width: 395px;
							height: 500px;
							display:flex;
							flex-direction: column;
							align-items: baseline;
							margin-bottom: 200px;
							text-align: center;
							justify-content:center;
							margin: 0px 50px 200px 100px;
								img{
									max-width:100%;
									height:auto;
									min-height: 580px;
									min-width: 387.42px;
								}
							
						}

					}
					
		}
		.dyes-menu-item.back{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			margin-top: 128px;
			margin-bottom: 160px;
			position: relative;
			transform: rotateX(180deg);
			.container-pan{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				overflow: hidden;
				width: 100%;
				height: 70%;
			}
		}
		.dyes-menu-item.reverse::before{
			position: absolute;
			z-index: -1;
			transform: rotate(180deg);
		}
	}
	.card.is-flipped{
		transform:  rotateX(180deg);
	}
}